{%extends 'base.html'%}
{%block content%}

<div>This is your house information:</div>
<div>{{house.name}}</div>

    {%if users %}

    <div>Users in this house:</div>
    <ul>
        {%for user in users%} 
            <li>{{user.username}}</li>
        {%endfor%}
    </ul>
    {%else%}
    <div>You are the only member in this house. Invite someone!</div>
    {%endif%}

<a href="{%url 'invite:send_invitation'%}">Invite an user to your house</a>
<a href="{%url  'house:edit' pk=house.id %}">Edit House</a>
<a href="{%url 'house:delete' pk=house.pk %}">Delete House</a>

{%endblock%}