{% extends 'base.html' %}

{% block content %}


<p>This is Index</p>
{%if request.user.is_authenticated %}
    {% if house %}
        <h4>Your house:</h2>
        <div>{{house}}</div>
        {% if ingredients%}
        <h2>Your ingredients</h2>
        <ul>
            {%for ingredient in ingredients%}
            <li>{{ingredient}}</li>
            {%endfor%}
        </ul>
        {%else%}
        <div>You don't have any ingredients yet!</div>
        {%endif%}
        <a href="{%url 'house:add_ingredients'%}">Add ingredient</a>
        <a href="{%url 'house:view' %}">View house</a>
        <a href="{%url 'invite:send_invitation'%}">Invite an user to your house</a>
    {%else%}
        <div>You have no house</div>
        <a href="{%url 'house:house_form' %}">Create a new house</a>
        {% if pending_invites %}
        {% for invitation in pending_invites %}
        <div>You have been invited to join {{invitation.house.name}} </div>
        <form action="{% url 'invite:accept_invitation' invitation.id %}" method="post">
            {% csrf_token %}
            <button type="submit">Accept</button>
        </form>
        <form action="{% url 'invite:decline_invitation' invitation.id %}" method="post">
            {% csrf_token %}
            <button type="submit">Decline</button>
        </form>
        {%endfor%}
        
        {% else %}
        <p>No pending invitations at the moment.</p>
        {% endif %}
    {%endif%}
{%else%}
<div>Create a profile to use me man!</div>
{%endif%}
{% endblock content %}